.main {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 20px;
    background-color: aliceblue;
    overflow-y: auto;
    justify-content: center;
    
}

.box {
    margin-left: 50px;
    width:100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.box-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;

}

.kpi-box {
    width: 260px;
    min-height: 130px;
    background-color:#CCCCFF;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.144);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
}

.kpi-box a {
    text-decoration: none;
    color: white;
    font-size: 11px;
    margin-left: auto;
}

.kpi-box a:hover{
    text-decoration: underline;
    color: #3b3b3b;
}

.h5-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.h5-img img {
    width: 30px;
    height: 30px;
}

.box-info span {
    margin: auto;
}

.kpi-box h1 {
    margin: auto;
    font-size: 40px;
}

.grafico h3 {
    margin-bottom: 15px;
}


.kpi-box a {
    text-decoration: underline;
    color: white;
    font-size: 14px;

}
.containergraficos{
    display:flex;
    justify-content: flex-start;
    gap:100px;
    width:100%;
    height:500px;

}
.colunaesquerda{
margin-top:35px;
width:500px;

}

.colunadireita{
    margin-top: -300px;
    display:flex;
    flex-direction: column;
    gap:20px;
   

}

.grafico{
    width:550px;
    background-color: white;
}
