* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.body{
    overflow: hidden;
}

.container{
    display: flex;
}

.menu{
    width: 313px;
    height: 100vh;
    background-color: #758fd6;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.menu .img-h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu img {
    width: 187px;
    height: 187px;
}

.menu h1 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.nav-bar {
    display: flex;
    flex-direction: column;
}

.nav-bar .nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-item img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.menu button{
    width: 210px;
    height: 43px;
    align-self: center;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 1px 1px 4px #00000023;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    color: #000000;
}