body{
    margin:0px;
    padding:0px;
    background-color:#e0dff6;
}
.header{
    background-color: #CCCCFF;
    padding:70px;
    text-align: center;
}
.navbar a{
  font-family: monospace;
  flex-direction: row;
  color: #758fd6;
  text-decoration: none;
  font-size: 28px;  
  justify-content: space-between;
  margin:0 15px;
}
.banner{
display: flex;
justify-content: center;
}
.banner img{
max-width: 40%;
}
.conteudo{
 display: flex;
 justify-content: flex-start;
   
}
.titulo{
font-family: monospace;
margin-left: 50px;
margin-top: 80px;
color: #758fd6;
}

.texto{
background-color: aliceblue;
padding: 40px;
border-radius: 10px;
width:35%;
font-size:18px;
font-family: monospace;
display:flex;
text-align: justify;
margin-left: 50px;
color: #758fd6;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.imagens{
    position:relative;
    left:50px;
    width:50%;
}

.imagens img{
    max-width: 100%;
}